/* el bloque donde de encuentran las categoritas*/
.categorias{
    line-height:  1.9em;
    position: relative;
    top: 100px;
    color: rgb(103, 100, 100);
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: rgb(215, 224, 224);
    width: 20%;
    height: 700px;
    right: 10px;

    
}
/* palabra categoria*/
.categoria{
    color: rgb(103, 100, 100);
    font-family: 'Neucha', cursive;
    font-size: 40px;
    position: relative;
    top: 10px;
    left: 50px;
}
/* todos los linkis*/
.link{
    color: rgb(103, 100, 100);
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 25px;
    letter-spacing: 4px;  
    position: relative;
    left: 20px;
}
#pokemones1{
    position: relative;
    left: 500px;
}