* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/background.jpg);
}

/*Header*/
.header {
  background-color: #F0C005;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.logo {
  max-width: 7%;
  max-height: 7%;
}

/* el bloque donde de encuentran las categoritas*/
 .categorias {
  line-height: 1.9em;
  position: relative;
  top: 100px;
  color: rgb(103, 100, 100);
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #D4D5DA;
  width: 20%;
  height: 700px;
  right: 10px;
  border-radius: 10%;
  opacity: .7;
  box-shadow: 10px 5px 5px #D4D5DA;
}

/* palabra categoria*/
.categoria {
  color: rgb(103, 100, 100);
  font-family: 'Neucha', cursive;
  font-size: 40px;
  position: relative;
  top: 10px;
  left: 50px;
}

/* todos los linkis*/
.link {
  color: rgb(103, 100, 100);
  text-decoration: none;
  font-family: 'Neucha', cursive;
  font-size: 25px;
  letter-spacing: 4px;
  position: relative;
  left: 20px;
}
#pokemones1{
    position: relative;
    left: 500px;
 }
.pokebola {
  max-width: 3%;
  max-height: 3%;
}

.footer {
  background-color: #A39B9C;
  font-family: 'Neucha', cursive;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}