* {
  margin: 0;
  padding: 0;
}


#root {
  display: flex;
  flex-wrap: wrap;
  margin-left: 18%;
}


.container {
  display: flex;
  margin-top: 50px;
}

body {
  background-image: url(assets/background.jpg);
}

/*Header*/
.header {
  background-color: #F0C005;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: fixed;
  z-index: 2;
}

nav {
  padding-top: 5%;
  display: flex;
  justify-content: flex-end;
}

.navOption {
  background-color: rgba(230, 230, 230, 0.7);
  padding: 10px;
  margin-right: 10px;
  border-radius: 10%;
}


.logo {
  max-width: 7%;
  max-height: 7%;
}

/* el bloque donde de encuentran las categoritas*/
.categoriasList {
  line-height: 1.9em;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 10%;
  opacity: .7;
  box-shadow: 10px 5px 5px #D4D5DA;
  padding: 2%;
  position: fixed;
  margin-left: 1%;
}

/* palabra categoria*/
.categoria {
  color: rgb(40, 39, 39);
  font-family: 'Neucha', cursive;
  font-size: 40px;
  top: 10px;
  left: 50px;
}

/* todos los linkis*/
.link {
  color: rgb(40, 39, 39);
  text-decoration: none;
  font-family: 'Neucha', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  left: 20px;
  cursor: pointer;
}

/*Card*/
.contenedorAdelante {
  display: inline-block;
  flex-direction: row;
  position: relative;
  border-radius: 40px;
  margin: 30px 30px 30px;
  width: 200px;
  padding: 10px 20px 10px;
  text-align: center;
  background-color: rgba(239, 192, 13, 0.13);

}

.contenedorAdelante:hover {
  background-color: rgba(146, 156, 112, 0.19);
  cursor: pointer;
}

.contenedorModal {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 2;
  background-color: rgba(230, 230, 230, 0.8);
  width: 35%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  animation-name: modal;
  animation-duration: 2s;
  padding-bottom: 5%;
}

@keyframes modal {
  from {
    top: -800px;
    opacity: 0;
  }

  to {
    top: 50;
    opacity: 1
  }
}

.close {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.contenedorModal .imgPokemon {
  width: 28%;
  height: 28%;
}

.pokebola {
  max-width: 3%;
  max-height: 3%;
}

.footer {
  background-color: #A39B9C;
  font-family: 'Neucha', cursive;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
